/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* HEADER */
.header__div_menu {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
}
.back__to__main {
    width: 15%;
    padding-bottom: 3px;
}
.fa-arrow-left {
    font-size: 15px;
    font-size: 12px;
    color: black;
}
.header__div-img {
    width: 60%;
}
.header__img {
    height: 16px;
    margin-left: 20px;

}
/* BODY */
body {
    max-width: 1400px;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    font-family: "Roboto", "sans-serif";

}
.div__nom_menu {
    display: flex;
    justify-content: space-around;
}
h4 {
    font-family: "Shrikhand", "sans-serif";
}
.div__menu-background-img {
    width: 100%;
}
.menu__img-background {
    width: 100%;
}
.div__menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 0px 0px;
}

#entrées {
    margin-left: 5px;
    margin-right: 5px;
}
h5 {
    font-weight: 300;
    font-size: 10px;
}
#plats {
    margin-left: 5px;
    margin-right: 5px;
}
#desserts {
    margin-left: 5px;
    margin-right: 5px;
}
.cards__menu {
    width: 97%;
    height: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px lightgray;
    border-radius: 10px;
    padding: 7px 7px 7px 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.menu__nom {
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 4px;
}
.menu__details {
    display: flex;
    justify-content: space-between;
}
.menu__sous-nom {
    font-weight: 300;
    font-size: 10px;
}
.menu__tarif {
    font-size: 10px;
    font-weight: 700;

}
