/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex ;
    flex-direction: column;
    font-family: "Roboto", "sans-serif";
}
/* HEADER */
.header__div {
    height: 50px;
    text-align: center;
}
.header__img-main {
    height: 24px;
    margin-left: 20px;
    padding-top: 15px;
}
.div__locate {
    display: flex;
    width: 100%;
    height: 28px;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
}
.p__locate {
    font-size: 12px;
    font-weight: 700;
}
.fa-location-dot {
    font-size: 12px;
    position: relative;
    right: 15px;
}
#accueil {
    background-color: rgb(243, 243, 243);
    height: 250px;
}
h1 { 
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 40px;
}
.p__accueil {
    font-weight: 100;
    font-size: 18px;
    text-align: center;
}
.div__btn {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.btn {
    width: 160px;
    font-size: 12px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 25px 25px 25px 25px;
    border: 0px;
    background: rgb(255,121,218);
    background: linear-gradient(165deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 78%);
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(165deg, rgba(255, 121, 217, 0.836) 0%, rgba(146, 86, 220, 0.801) 78%);
}
.fonctionnement {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
h2 {
    width: 75%;
    font-weight: 700;
    font-size: 24px;
    padding-top: 25px;
    margin-bottom: 10px;
    position: relative;
    left: 20px;
}
.div__fonctionnement {
    width: 100%;
    height: 275px;
    text-align: center;
}
.btn-fonction {
    width: 90%;
    padding: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    border: 0px;
    background-color: rgb(226, 226, 226);
    box-shadow: 1px 3px 6px rgb(182, 182, 182);
    margin-bottom: 15px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.btn-fonction:hover {
    background-color: #9256dc2f;
}
.btn-fonction:hover .fa-mobile-screen-button  {
    color: blueviolet;
}
.btn-fonction:hover .fa-list {
    color: blueviolet;
}
.btn-fonction:hover .fa-store {
    color: blueviolet;
}
.div__btn-btn {
    width: 24px;
    height: 24px;
    position: relative;
    right: 85px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 100px;
    background-color: blueviolet;
    font-size: 12px;
    font-weight: 200;
    color: white;
}
.fa-mobile-screen-button, .fa-list, .fa-store {
    width: 16px;
    position: relative;
    font-size: 16px;
    right: 13%;
    color: rgb(148, 148, 148);
}
.fa-list {
    margin-right: 17px;
}
.fa-store {
    margin-right: 9px;
}
.span__fct1 {
    position: relative;
    left: 10px;
}
.span__fct2 {
    position: relative;
    right: 7px;
}
.span__fct3 {
    position: relative;
    left: 2px;
}
#restaurants {
    background-color: rgb(243, 243, 243);
}
.restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 45px;
}
.cards__restaurants {
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 5px 10px lightgray;
}
.div__img-restaurants {
    width: 100%;
    height: 75%;
}
.new {
    width: 40px;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    font-weight: 700;
    color: rgb(85, 141, 105);
    background-color: rgb(143, 206, 156);
    position: relative;
    left: 285px;
    bottom: 180px;
}
.not-new {
    visibility: hidden ;
}
.img-cards__restaurants {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.infos__restaurants {
    max-height: 50px; 
}
.puce__restaurants {
    text-decoration: none;
    color: black;
}
h3 {
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.p__restaurants {
    margin-left: 10px;
    margin-bottom: 5px;
}
.fa-heart {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    bottom: 35px; left: 90%;
    cursor: pointer;
    border-radius: 250px;
}
.fa-heart:hover {

}


/* PAGE MENUS */
.header__div_menu {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}
.back__to__main {
    width: 15%;
    padding-bottom: 3px;
}
.fa-arrow-left {
    font-size: 15px;
    font-size: 12px;
    color: black;
}
.header__div-img {
    width: 60%;
}
.header__img {
    height: 24px;
    margin-left: 20px;
}
.div__nom_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 25px;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
    padding-left: 15px;
}
h4 {
    font-family: "Shrikhand", "sans-serif";
    padding-top: 20px;
    font-size: 24px;
}
.heart_title { 
    position: sticky;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 24px;
}
.div__menu-background-img {
    display: flex;
    width: 100%;
}
.menu__img-background {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.div__menu {
    background-color: white;
    display: flex;
    flex-direction: column;
}
#entrées {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h5 {
    margin-left: 4.5%;
    font-weight: 300;
    font-size: 10px;
    align-self: flex-start;
}
#plats {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#desserts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards__menu {
    width: 91%;
    height: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px lightgray;
    border-radius: 10px;
    padding: 7px 7px 7px 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.menu__nom {
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 4px;
}
.menu__details {
    display: flex;
    justify-content: space-between;
}
.menu__sous-nom {
    font-weight: 300;
    font-size: 10px;
}
.menu__tarif {
    font-size: 10px;
    font-weight: 700;

}
/* FOOTER */
footer {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 12px;
  }
  footer img {
    height: 12px;
    margin-top: 20px;
    margin-bottom: 7px;
    align-self: flex-start;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  footer i {
    width: 12px;
    height: 12px;
    font-size: 8px;
    align-items: top;
    margin-bottom: 2px;
  }
  footer a {
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    margin-left: 19px;
  }
  .footer__a {
    height: 15px;
  }

