/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex ;
    flex-direction: column;
    font-family: "Roboto", "sans-serif";
}
/* HEADER */
.header__div {
    height: 50px;
    text-align: center;
}
.header__img-main {
    height: 24px;
    margin-left: 20px;
    padding-top: 15px;
}
.div__locate {
    display: flex;
    width: 100%;
    height: 28px;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    box-shadow: 0px 10px 1px rgb(182, 182, 182);
}
.p__locate {
    font-size: 12px;
    font-weight: 700;
}
.fa-location-dot {
    font-size: 12px;
    position: relative;
    right: 15px;
}
/* ACCEUIL */
#accueil {
    background-color: #D2D2D2;
    height: 250px;
}
h1 { 
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 40px;
}
.p__accueil {
    font-weight: 100;
    font-size: 18px;
    text-align: center;
}
.div__btn {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.btn {
    width: 160px;
    font-size: 12px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 25px 25px 25px 25px;
    border: 0px;
    background: rgb(255,121,218);
    background: linear-gradient(165deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 78%);
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(165deg, rgba(255, 121, 217, 0.836) 0%, rgba(146, 86, 220, 0.801) 78%);
}
/* FONCTIONNEMENT */
.fonctionnement {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
h2 {
    width: 75%;
    font-weight: 700;
    font-size: 24px;
    padding-top: 25px;
    margin-bottom: 10px;
    position: relative;
    left: 20px;
}
.div__fonctionnement {
    width: 100%;
    height: 275px;
    text-align: center;
}
.btn-fonction {
    width: 90%;
    padding: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    border: 0px;
    background-color: #F6F6F6;
    box-shadow: 1px 3px 6px rgb(182, 182, 182);
    margin-bottom: 15px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.btn-fonction:hover {
    background-color: #9256dc2f;
}
.btn-fonction:hover .fa-mobile-screen-button  {
    color: blueviolet;
}
.btn-fonction:hover .fa-list {
    color: blueviolet;
}
.btn-fonction:hover .fa-store {
    color: blueviolet;
}
.div__btn-btn {
    width: 24px;
    height: 24px;
    position: relative;
    right: 85px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 100px;
    background-color: blueviolet;
    font-size: 12px;
    font-weight: 200;
    color: white;
}
.fa-mobile-screen-button, .fa-list, .fa-store {
    width: 16px;
    position: relative;
    font-size: 16px;
    right: 18%;
    color: rgb(148, 148, 148);
}
.fa-list {
    margin-right: 17px;
}
.fa-store {
    margin-right: 9px;
}
.span__fct1 {
    position: relative;
    right: 25px;
}
.span__fct2 {
    position: relative;
    right: 41px;
}
.span__fct3 {
    position: relative;
    right: 34px;
}
/* RESTAURANTS */
#restaurants {
    background-color: #D2D2D2;
}
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 45px;
}
.cards__restaurants {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 5px 10px lightgray;
}
.div__img-restaurants {
    width: 100%;
    height: 75%;
}
.new {
    width: 40px;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    font-weight: 700;
    color: #008766;
    background-color: #99e2d0;
    position: relative;
    left: 285px;
    bottom: 180px;
}
.not-new {
    visibility: hidden ;
}
.img-cards__restaurants {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.infos__restaurants {
    max-height: 50px; 
}
.puce__restaurants {
    width: 90%;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 0;
}
h3 {
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.p__restaurants {
    margin-left: 10px;
    margin-bottom: 5px;
}

/* BOUTON LIKE */
.btn-like {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 50px;
    left: 150px;
    transition: 100ms;
    }
    .fa-heart {
        position: relative;
        z-index: 2;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 0px;
        background: -webkit-linear-gradient(#9256dc00, #ff79d900);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
    }
    .fa-heart:hover {
        background-clip: text;
        -webkit-background-clip: text;
        background: -webkit-linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
        animation: persistance infinite ;
    }
    .fa-regular {
        position: relative;
        top: -20px;
        z-index: 0;
        background: -webkit-linear-gradient(#000000, #000000);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
/* PAGE MENUS */
.header__div_menu {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}
.back__to__main {
    width: 15%;
    padding-bottom: 3px;
}
.fa-arrow-left {
    font-size: 15px;
    font-size: 12px;
    color: black;
}
.header__div-img {
    width: 60%;
}
.header__img {
    height: 24px;
    margin-left: 20px;
}
/* MENU */
.div__nom_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 25px;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
    padding-left: 15px;
}
h4 {
    font-family: "Shrikhand", "sans-serif";
    padding-top: 20px;
    font-size: 28px;
}
.heart_titlef {
    position: relative;
    left: 48px;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 24px;
}
.heart_title { 
    position: sticky;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 24px;
}
.div__menu-background-img {
    display: flex;
    width: 100%;
}
.menu__img-background {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.div__menu {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.cards__menu {
    width: 91%;
    height: 69px;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 1px 1px 10px lightgray;
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.cards__menu1 {
    opacity: 0;
    animation: fadeIn 0.7s ease forwards;
    animation-delay: 0.5s;
}
    @keyframes fadeIn {
    0% {
     opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
.cards__menu2 {
    opacity: 0;
    animation: fadeIn 0.7s ease forwards;
    animation-delay: 1s;
}
    @keyframes fadeIn {
    0% {
     opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
.cards__menu3 {
    opacity: 0;
    animation: fadeIn 0.7s ease forwards;
    animation-delay: 1.5s;
}
    @keyframes fadeIn {
    0% {
     opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
.menu__info {
    width: 80%;
    padding: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.menu__info h6 {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.menu__info p {
    font-weight: 300;
    font-size: 15px;
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.menu__tarif {
    padding: 15px;;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.checkbox {
    width: 0px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-color: #99E2D0;
    justify-content: center;
    transition: width 400ms ease-in-out;
    display: flex;
    flex-direction: column;
}
.checkbox .fa-circle-check {
    opacity: 0;
    text-align: center;
    font-size: 32px;
    color: white;
  }
  .cards__menu:hover .checkbox {
    width: 100px;
    transition: width 400ms ease-in-out;
  }
  .cards__menu:hover .checkbox .fa-circle-check {
    opacity: 1;
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;
  }
/* ENTRÉES */
#entrées {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}
h5 {
    margin-left: 12px;
    font-weight: 300;
    font-size: 16px;
    align-self: flex-start;
}
.underscore {
    width: 40px;
    height: 3px;
    border: solid 0px #99E2D0;
    background-color: #99E2D0;
    align-self: flex-start;
    position: relative;
    left: 12px;
    margin: 10px 0px 12px 0px;
}
/* PLATS */
#plats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
/* DESSERTS */
#desserts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    font-size: 12px;
  }
  footer img {
    height: 12px;
    margin-top: 20px;
    margin-bottom: 7px;
    align-self: flex-start;
  }
  footer i {
    width: 12px;
    height: 12px;
    font-size: 8px; 
    margin-bottom: 2px;
  }
  footer a {
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    margin-left: 19px;
  }
  .footer__a {
    height: 15px;
}

/* LOADER */

.lds-roller {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    position: fixed;
    z-index: -100;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: background-roller 2.5s;
  }
  .lds-roller div {
    position: relative;
    left: 150px;
    animation: lds-roller 2.5s cubic-bezier(0.5, 0, 0.5, 1) 1s;
    transform-origin: 40px 40px;
    opacity: 0;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: linear-gradient(165deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 78%);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }
  @keyframes background-roller {
    0% {
        opacity: 1;
        z-index: 100;
    }
    100% {opacity: 1;
        z-index: 100;
    }
  }