footer {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    background-color:$footer-background;
    color: $white;
    font-size: 12px;
    img {
        height: 12px;
        margin-top: 20px;
        margin-bottom: 7px;
        align-self: flex-start;
        object-fit: scale-down ;
    }
    i {
        width: 12px;
        height: 12px;
        font-size: 8px;
        align-items: center;
    }
    a {
        width: fit-content;
        cursor: pointer;
        text-decoration: none;
        color: white;
        margin-bottom: 5px;
        margin-left: 15px;
    }


}